<!DOCTYPE html>
<html lang="en">

<head>
    <title>wycto导航｜收藏夹</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 layui-vue 样式 -->
    <link rel="stylesheet" type="text/css" href="/static/layui-vue/css/index.css">
    <!-- 引入 Vue 3, 使用全局变量 Vue -->
    <script src="/static/layui-vue/js/vue.global.js"></script>
    <!-- 引入 layui-vue 组件库, 使用全局变量 LayuiVue -->
    <script src="/static/layui-vue/js/index.js"></script>
    <script src="/static/layui-vue/js/axios.min.js"></script>
    <script src="/static/js/public.js"></script>
    <style>
        #app{padding: 100px}
    </style>
</head>

<body>
<div id="app">
    <lay-container fluid>
        <lay-form :model="user" ref="layFormRef1" :rules="rules" required initValidate>
            <lay-form-item label="邮箱" prop="email">
                <lay-input v-model="user.email"></lay-input>
            </lay-form-item>
            <lay-form-item label="密码" prop="password">
                <lay-input v-model="user.password" type="password"></lay-input>
            </lay-form-item>
            <lay-form-item>
                <lay-button @click="validate1">登录</lay-button>
            </lay-form-item>
        </lay-form>
    </lay-container>
</div>
</body>
<script>
    const { createApp, ref,reactive } = Vue;
    const { layer } = LayuiVue;

    const App = {
        data() {
            return {
                user: {}
            }
        },
        setup() {
            const rules = ref({
                email : {
                    type : 'email'
                },
                password : {
                    type :  'string',
                    min : 8,
                    max : 16
                }
            })

            const layFormRef1 = ref(null);
            // 校验
            const validate1 = function() {
                layFormRef1.value.validate((isValidate, model, errors) => {
                    if(isValidate==true){
                        axios.post('/user/login',{'email':model.email,'password':StringToMd5(model.password)}).then(function (res) {
                            console.log(res);
                            if(res.status==200){
                                if(res.data.code==200){
                                    localStorage.setItem('token',res.data.token);
                                    console.log(localStorage.getItem('token'));
                                    //window.location.href = "/";
                                    //window.location.href = "/index/index/index";
                                    layer.msg(res.data.msg);
                                }else{
                                    layer.msg(res.data.msg, { icon : 2, time: 1000})
                                }
                            }else{
                                layer.msg("请求失败，状态码："+res.status, { icon : 2, time: 1000})
                            }
                        }).catch(function (error) { // 请求失败处理
                            console.log(error);
                            layer.msg(error.message, { icon : 2, time: 100000})
                        });
                    }
                    /*layer.open({
                        type: 1,
                        title:"表单提交结果",
                        content: `<div style="padding: 10px"><p>是否通过 : ${isValidate}</p> <p>表单数据 : ${JSON.stringify(model)} </p> <p>错误信息 : ${JSON.stringify(errors)}</p></div>`,
                        shade: false,
                        isHtmlFragment: true,
                        btn : [{ text: '确认', callback(index) {  layer.close(index) }}],
                        area : '500px'
                    });*/
                });
            }

            return {
                layFormRef1,
                validate1,
                rules
            }
        }
    };

    const app = createApp(App);
    app.use(LayuiVue);
    app.mount('#app');
</script>
</html>